/* tabs */
@media screen and (max-width: 1199px) {
  /* right_container */
  .users {
    width: 40%;
  }

  .chat {
    width: 60%;
  }

  /* toggles */
  .right_container.detailsToggle .chat {
    width: 0;
  }

  .right_container.detailsToggle .details {
    width: 60%;
  }
  /* \toggles */

  /* users */
  .chat_row p {
    max-width: 120px;
  }
  /* users */

  /* chat */
  .chat_actions li {
    margin: 0 14px 0 0;
  }

  .msg .img_col.preview {
    transform: translate(-50%, -50%) scale(2);
  }
  /* \chat */

  /* details */
  .details {
    width: 0;
  }

  .details .close {
    display: block;
  }
  /* \details */
  /* \right_container */
}
/* \tabs */

/* mobile */
@media screen and (max-width: 767px) {
  /* common */
  .sidebar {
    width: 0;
  }

  .right_container {
    width: 100%;
  }

  .uses .pic img {
    width: 24px;
    height: 24px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  span {
    font-size: 12px;
  }
  /* \common */

  /* right_container */
  /* child width */
  .users {
    width: 0;
  }

  .chat {
    width: 100%;
  }

  .details {
    width: 0;
  }
  /* child width */

  /* toggles */
  .right_container.detailsToggle .chat {
    width: 0;
  }

  .right_container.detailsToggle .details {
    width: 100%;
  }

  .right_container.usersToggle .chat {
    width: 0;
  }

  .right_container.usersToggle .users {
    width: 100%;
  }
  /* toggles */

  /* users */
  .self_info {
    padding: 20px 15px 0;
  }

  .self_info > .inner {
    padding: 0 0 15px;
  }

  .self_info .pic img {
    width: 70px;
    height: 70px;
  }

  .active_users {
    padding: 0 15px;
  }

  .active_users > .inner {
    padding: 20px 0;
  }

  .chat_list {
    padding: 20px 15px 0;
  }

  .chat_rows {
    margin: 0 -15px;
  }

  .chat_row {
    padding: 0 15px;
  }
  /* \users */

  /* chat */
  .chat_header .navs > div {
    margin: 0 6px 0 0;
  }

  .chat_header .pic img {
    width: 36px;
    height: 36px;
  }

  .chat_header .icon {
    font-size: 16px;
  }

  .msg_block .pic {
    margin: 0 10px 0 0;
  }

  .my_msg .pic {
    margin: 0 0 0 10px;
  }

  .msg_block .pic img {
    width: 20px;
    height: 20px;
  }

  .chat_header,
  .messages {
    padding: 20px 15px;
  }

  .chat .type_group {
    padding: 10px 15px;
  }

  .chat header .back {
    display: block;
  }
  /* \chat */
  /* \tight_container */
}
/* \tabs */
