


/* custom */
.pic img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}
/* \common */





/* main */
.main {
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  background-color: #fff;
}

.preview_mode {
  position: relative;
  pointer-events: none;
  user-select: none;
}

.preview_mode::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.preview_mode #close_icon {
  pointer-events: initial;
}


/* sidebar */
.sidebar {
  width: 70px;
  padding: 10px 0 30px;
  border-right: 1px solid var(--c-lightGray);
}

.sidebar a {
  line-height: 0;
}

.sidebar li {
  margin: 0 0 16px;
  transition: 0.5s;
}

.sidebar li:hover {
  transform: scale(1.3);
}

.sidebar li:last-child {
  margin: 0;
}

.sidebar .apps li {
  width: 34px;
  height: 34px;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar .manage li:first-child {
  margin: 0 0 30px;
}

.sidebar .figma {
  background-color: var(--c-black);
}

.sidebar .mailchimp {
  background-color: var(--c-yellow);
}

.sidebar .dribbble {
  background-color: var(--c-pink);
}

.sidebar .chat {
  background-color: var(--c-green);
}

.sidebar .apps li:last-child {
  background-color: initial;
  border: 1.5px dashed var(--c-lightGray);
}

.figma_svg {
  width: 20px;
}

.mailchimp_svg {
  width: 20px;
  transform: scale(1.7);
}

.dribbble_svg {
  width: 24px;
  transform: scale(1.3);
}

.chat_svg {
  width: 20px;
}

.manage span {
  font-size: 18px;
}
/* \sidebar */

/* right container */
.right_container {
  width: calc(100% - 70px);
}

.users {
  width: 28%;
}

.chat {
  width: 47%;
}

.details {
  width: 25%;
}

.right_container > * {
  transition: width 0.5s;
}

.right_container > *:not(:last-child) {
  border-right: 1px solid var(--c-lightGray);
}

/* users */
/* users child */
.users .border {
  border-bottom: 1px solid var(--c-lightGray);
}

.users .pic img {
  width: 40px;
  height: 40px;
}

.users .self_info {
  padding: 30px 30px 0;
}

.users .self_info > .inner {
  text-align: center;
  padding: 0 0 30px;
}

.users .active_users {
  padding: 0 30px;
}

.users .active_users > .inner {
  padding: 30px 0;
}

.users .chat_list {
  padding: 30px 30px 0;
}
/* \users child */

.self_info .pic {
  margin: 0 auto 18px;
}

.self_info .pic img {
  width: 100px;
  height: 100px;
}

.self_info .pic.active::after {
  width: 12px;
  height: 12px;
  right: 2.5px;
  bottom: 2.5px;
}

.self_info h4 {
  margin: 0 0 20px;
}

.self_info .social li {
  margin: 0 20px 0 0;
}

.self_info .social li:last-child {
  margin: 0;
}

.self_info .social i {
  color: var(--c-iconGray);
  transition: 0.5s;
}

.self_info .social li:hover i {
  color: var(--blue);
  transform: scale(1.2);
  transition: 0.5s;
}

.active_users h5 {
  margin: 0 0 20px;
}

.active_users .cols li {
  margin: 0 20px 0 0;
}

.active_users .cols li:last-child {
  margin: 0;
}

.chat_list .chats_ht {
  margin: 0 0 20px;
}

.chat_list .heading {
  margin: 0 0 20px;
}

.chat_list .input_box {
  padding: 7px 14px;
  border: 1px solid var(--c-lightGray);
  border-radius: 6px;
}

.chat_list .input_box span {
  font-size: 18px;
  margin: 0 8px 0 0;
}

.chat_list .chat_rows {
  margin: 0 -30px;
}

.chat_list .chat_row {
  padding: 0 30px;
  transition: 0.5s;
}

.chat_row:hover {
  background-color: var(--c-secBlue);
}

.chat_row_in {
  padding: 14px 0;
  cursor: pointer;
}

.chat_row .chat_row_in {
  border-bottom: 1px solid var(--c-lightGray);
}

.chat_row:last-child .chat_row_in {
  border-bottom: none;
}

.chat_row .pic {
  margin: 0 10px 0 0;
}

.chat_row h6 {
  margin: 0 0 5px;
}

.chat_row p {
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* \users */

/* chat */
.chat_header {
  padding: 14px 24px;
  border-bottom: 1px solid var(--c-lightGray);
}

.chat_header .navs > div {
  cursor: pointer;
  margin: 0 12px 0 0;
}

.chat_header .navs > div:last-child {
  margin: 0;
}

.chat_actions li {
  margin: 0 12px;
}

.chat_actions li:last-child {
  padding: 0;
}

.chat_actions_divider {
  width: 1px;
  height: 16px;
  background: var(--c-iconGray);
  border-radius: 2px;
}

.chat_header .back {
  display: none;
}

.chat_back_btn {
  font-size: 14px;
}

.chat_header .pic img {
  width: 42px;
  height: 42px;
  border-radius: 10px;
}

.chat_header h5 {
  max-width: 130px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.chat_header .chat_search {
  align-items: flex-end;
}

.chat_header .chat_search::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--blue);
  transform: scale(0);
  transition: 0.5s;
}

.chat_header span {
  font-size: 20px;
  color: var(--c-iconGray);
  user-select: none;
}

.chat_header .form_control {
  width: 0;
  caret-color: var(--blue);
}

/* search clicked */
.search_clicked .chat_header li:not(.chat_search) {
  display: none;
}

.search_clicked .chat_search {
  padding: 4px;
}

.search_clicked .chat_search::after {
  transform: scale(1);
}

.search_clicked .chat_header span {
  display: none;
}

.search_clicked .search_input {
  width: 100%;
  transition: 0.5s;
}
/* \search clicked */

.chat_header li {
  cursor: pointer;
}

.messages {
  padding: 24px;
}

.msg_block {
  padding: 0 0 30px;
}

.msg_block:last-child {
  padding: 0;
}

.msg_block .pic {
  margin: 0 16px 0 0;
}

.msg_block .info {
  margin: 0 0 6px;
}

.msg_block .content h5 {
  margin: 0 10px 0 0;
}

.msg {
  max-width: 350px;
  margin: 0 0 8px;
}

.msg:last-child {
  margin: 0;
}

.msg p {
  padding: 12px;
  background-color: var(--c-secBlue);
  border-radius: 10px;
}

.msg .icon {
  font-size: 16px;
}

.msg:first-child p {
  border-radius: 0 10px 10px 10px;
}

.msg .img_col {
  cursor: pointer;
  transition: 0.5s;
}

.msg .close_icon {
  display: none;
  padding: 4px;
  right: 5%;
  top: 5%;
  cursor: pointer;
  z-index: 1;
}

.msg .close_icon i {
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}

.msg .close_icon:hover i {
  color: var(--c-secText);
  transition: 0.5s;
}

.msg .img_col.preview {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(2.6);
  animation: previewImage 0.7s;
}

@keyframes previewImage {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
}

.msg_reactions li {
  margin: 0 8px 0 0;
}

.msg_reactions li:last-child {
  margin: 0;
}

.msg_reactions li {
  padding: 4px 8px;
  color: var(--c-text);
  border: 1px solid var(--c-lightGray);
  border-radius: 20px;
}

/* audio msg */
.audio {
  width: min(100%, 350px);
  padding: 12px 14px;
  background-color: var(--c-secBlue);
  border-radius: 10px;
}

.audio i {
  cursor: pointer;
  color: var(--c-text);
  font-size: 12px;
  transition: 0.5s;
}

.audio > div {
  margin: 0 10px 0 0;
}

.audio > div:last-child {
  margin: 0;
}

.audio .pause {
  transform: translate(-50%, -50%) scale(0);
}

.audio .progress {
  width: 100%;
  height: 7px;
  background-color: var(--c-lightGray);
  border-radius: 10px;
}

.audio .progress_bar {
  width: 0;
  height: 100%;
  border-radius: inherit;
  background-color: var(--c-green);
  transition: 1s;
}

.audio .dot {
  width: 7px;
  height: 7px;
  background-color: var(--c-orange);
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.audio.playing .play {
  transform: scale(0);
}

.audio.playing .pause {
  transform: scale(1);
}

.audio.playing .dot {
  animation: blink 1s steps(2) infinite;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }
}

.audio.played .dot {
  animation: initial;
  background-color: var(--c-green);
}

.audio.played .play {
  transform: scale(1);
}

.audio.played .pause {
  transform: scale(0);
}
/* \audio msg */

/* my_msg */
.my_msg .pic {
  order: 2;
  margin: 0 0 0 16px;
}

.my_msg .info h5 {
  order: 2;
  margin: 0 0 0 10px;
}

.img_cols {
  gap: 10px;
}

.my_msg p {
  background-color: var(--blue);
  color: #fff;
  order: 2;
  border-radius: 10px;
}

.my_msg :first-child p {
  border-radius: 10px 0 10px 10px;
}

.msg img {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.img_col:last-child img {
  width: 130px;
}
/* \my_msg */

.type_group {
  padding: 16px 24px;
  background-color: var(--c-secBlue);
  border-top: 1px solid var(--c-lightGray);
}

.type_group i,
.type_group span {
  color: var(--c-iconGray);
  font-size: 14px;
}

.type_group .input_box {
  transition: 0.5s;
}

.chat.recording .input_box {
  width: 0;
}

.chat.recording .record { 
  width: 100%;
}

.type_group .input_box > .inner {
  background-color: #fff;
  color: var(--c-secText);
  padding: 16px 20px;
  border-radius: 30px;
  border: 1px solid var(--c-lightGray);
}

.type_group .input_box .inner > * {
  column-gap: 10px;
}

.type_group .record {
  width: 0;
  column-gap: 12px;
  transition: 0.5s;
}

.type_group .record i,
.type_group .record span {
  cursor: pointer;
}

.type_group .delete i {
  color: var(--c-red);
}

.type_group .balls li {
  margin: 0 6px 0 0;
}

.type_group .balls li:last-child {
  margin: 0;
}

.type_group .ball {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--c-green);
}

.type_group .ball_1 {
  animation: recordingBall 2s infinite;
}

.type_group .ball_2 {
  animation: recordingBall 2s 0.1s infinite;
}

.type_group .ball_3 {
  animation: recordingBall 2s 0.2s infinite;
}

.type_group .ball_4 {
  animation: recordingBall 2s 0.3s infinite;
}

.type_group .ball_5 {
  animation: recordingBall 2s 0.4s infinite;
}

.type_group .ball_6 {
  animation: recordingBall 2s 0.5s infinite;
}

@keyframes recordingBall {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(4px);
  }
}
/* \chat */

/* details */
.details .inner {
  padding: 30px;
}

.details .inner > *:not(:last-child) {
  padding: 0 0 40px;
}

.details .close {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 4px;
  display: none;
}

.details .heading {
  margin: 0 0 12px;
}

.details h5 {
  font-size: 14px;
  margin: 0 6px 0 0;
}

.about p {
  margin: 0 0 10px;
}

.members .list > li {
  margin: 0 0 10px;
}

.members .list li:last-child {
  margin: 0;
}

.members .list .pic {
  margin: 0 10px 0 0;
}

.member_actions li:first-child {
  margin: 0 14px 0 0;
}

.members ul span {
  font-size: 20px;
}

.media .col {
  width: 25%;
  margin: 0 8px 0 0;
}

.media .col:last-child {
  margin: 0;
}

.media .col:last-child {
  border: 1px solid var(--c-lightGray);
  border-radius: 10px;
}

.media li img {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  transition: 0.5s;
  object-fit: cover;
}

.media li:hover img {
  opacity: 0.8;
  transition: 0.5s;
}

.labels .heading {
  margin: 0 0 16px;
}

.labels li {
  margin: 0 0 20px;
}

.labels .col:last-child {
  margin: 0;
}

.labels li {
  margin: 0 0 18px;
}

.labels li:last-child {
  margin: 0;
}

.labels li h6 {
  color: var(--c-secText);
}

.labels li i {
  font-size: 22px;
  margin: 0 10px 0 0;
  transform: rotate(90deg);
}

.labels li.work i {
  color: var(--c-lightGray);
}

.labels li.important i {
  color: var(--blue);
}

.labels li.project i {
  color: var(--c-pink);
}

.labels li.later i {
  color: var(--c-green);
}

.labels li.travel i {
  color: var(--c-orange);
}
/* details */
/* \right container */
/* \main */
