

:root {
    --c-white: #fff;
    --c-black: #000;

    --c-text: #202020;
    --c-secText: #697492;
    --c-secBlue: #f5f9fc;

    --blue: #5c60f4;
    --c-pink: #f85f9a;
    --c-green: #03cc87;
    --c-orange: #ff8e2f;
    --c-yellow: #f7e04b;
    --c-red: #ff3366;

    --c-lightGray: #e7eaef;
    --c-iconGray: #6b7c93;
}


